.detailed-note{
  margin: 0;
  text-align: center;
  padding-top:1rem;
}

.detailed-note.light{
  background-color: white;
  color: black;
}

.detailed-note.dark{
  background-color: #333;
  color: white;
}