.home{
  margin: 0;
  text-align: center;
  padding-top:1rem;
}
.home h2{
  margin: 0;
}

.home.light{
  background-color: white;
  color: black;
}

.home.dark{
  background-color: #333;
  color: white;
}